@use '../text-style.module';
@import '../main.module.scss';

.color {
	color: $main !important;
}

.btn {
	@include font-style-16-bold();
	@include inputShadow();
	width: 343px;
	height: 50px;
	background: $white;
	border: 1px solid transparent;
	border-radius: 8px;
	margin-bottom: 16px;
}
