@use '../mixin.module';
@use '../text-style.module';
@import '../main.module.scss';

.pointer {
	cursor: pointer;
}

.header {
    height: 44px;
    display: grid;

    &.hasNone {
        grid-template-columns: 1fr;
    }

    &.hasIcon {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .icon {
        &:hover {
            cursor: pointer;
        }
    }
}

.header-title {
	@include font-style-16-bold();
	text-align: center;
	margin: 13px 0 10px 0;
}
