@import '../main.module.scss';

.wrapper {
	position: relative;
	width: 375px;
	height: 768px;

	overflow: auto;
	overflow-x: hidden;
	overflow-y: hidden;

	// temporary code for PC view
	border: 1px solid gray;
}

// temporary code for PC view
@media screen and (min-width: 376px) {
	.wrapper {
		margin: calc((100vh - 768px) / 2) auto;
	}
}
