@import "../main.module.scss";

@include keyframe (showModal) {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bg {
    position: absolute;
    top: 0px;
    
    width: 375px;
    height: 768px;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.6);

    &.open-bg {
        @include animation(showModal, 0.5s);
    }
}

.wrapper {
    @include shadow;

    position: absolute;
    top: 182px;
    z-index: 4;
    
    width: 343px;
    height: 361px;
    padding: 24px 16px;
    margin: 0 16px;

    background-color: $white;
    border-radius: 8px;

    &.open-wrapper {
        @include animation(showModal, 0.5s);
    }

    .close {
        position: absolute;
        top: 8px;
        right: 8px;

        &:hover {
            cursor: pointer;
        }
    }

    .btn-div {
        width: 311px;
        display: flex;
        justify-content: space-between;
        
        .btn {
            @include font-style-16-medium();
            @include shadow;
            width: 146px;
            height: 44px;
            border: none;
            border-radius: 8px;

            &.cancel {
                color: $main !important;
                background-color: $white;

                &:hover {
                    cursor: pointer;
                }
            }

            &.ok {
                color: $white !important;
                background-color: $main;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    
    .title {
        @include font-style-20();
        line-height: $line-height-24 !important;
    }
    
    .confirmed {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;

        .check {
            margin-bottom: 24px;
        }
    }
}