@import '../main.module.scss';

.wrapper {
	z-index: 2;
	width: 343px;
	height: 50px;
	margin: 46px 16px 24px 16px;
	border-radius: 8px;
	background-color: $white;
	box-shadow: 0px 3px 6px #00000029;
	display: grid;
	grid-template-columns: 87% 13%;
	place-items: center;

	.position {
		@include font-style-16-medium();
	}
}
