@import '../main.module.scss';

.wrapper {
	@include shadow;

	z-index: 2;
	width: 343px;
	height: 50px;
	margin: 46px 16px 24px 16px;
	border-radius: 8px;
	background-color: $white;

	display: flex;
	align-items: center;
	justify-content: space-between;
	place-items: center;

	input {
		@include font-style-16-medium();
		border: none;
		outline: none;
		text-align: center;
	}

	.position {
		@include font-style-16-medium();
		@include text-ellipsis;

		&:hover {
			cursor: pointer;
		}
	}

	.icon {
		&:hover {
			cursor: pointer;
		}
	}
}


.dropdown {
	@include animation (fadeIn, 0.5s);
	@include shadow;

	z-index: 999;
	position: absolute;
	top: 110px;
	left: 16px;

	width: 343px;
	height: 580px;

	background-color: $white;
	border-radius: 8px;
	padding: 8px;

	overflow: auto;

	.close {
		position: absolute;
		top: 0px;
		right: 0px;

		&:hover {
			cursor: pointer;
		}
	}

	.no-result {
		@include font-style-18();
		text-align: center;
	}

	.candidates {
		padding: 0 8px;

		.place {
			@include font-style-18();
		}

		.address {
			@include font-style-14();
		}

		&:hover {
			cursor: pointer;
			text-decoration: underline;
		}
	}

	.pages {
		display: flex;
		justify-content: center;

		a {
			@include font-style-16-medium();
			&.on {
				color: red !important;
			}

			&:hover {
				color: $main;
			}

			margin: 0 4px;

		}
	}
}