$white: #fff;
$snow: #f3f3f3;
$lightgray: #fafafa;
$sub: #333;
$shadow: #00000029;
$main: #589fd2;
$skyblue: #589FD21A;
$red: #E60000;

$dim-black-20: #33333333;
$dim-black-40: #33333366;
$dim-black-60: #33333399;
$dim-Black-80: #333333cc;