@import "../main.module.scss";
@import "../components/input.module.scss";

.wrapper {
    width: 343px;
	margin: 25px auto 0 auto;

	.title {
		@include font-style-24();
	}

    .desc {
        @include font-style-16-medium();
        margin-top: 8px;
    }

	.form {
		@include flexBox(getFlexValue(between));
		flex-direction: column;
		width: 343px;
		margin-top: 20px;
	}

	.loginBtn {
		margin-top: 16px;
		span {
			text-decoration: underline;
		}
	}

    .photo-div {
        width: 343px;
        height: 80px;
		margin: 24px 0;
        position: relative;

		.profile-image {
			width: 80px;
			height: 80px;
			margin: 0 132px 0 131px;
			border-radius: 50%;
			object-fit: cover;
			
			&:hover {
				cursor: pointer;
			}
		}
    
		.profile {
			margin: 0 132px 0 131px;

			&:hover {
				cursor: pointer;
			}
		}
		
		.open {
			position: relative;
			bottom: 38px;
			left: 172px;

			&:hover {
				cursor: pointer;
			}
		}

		input {
			display: none;
		}
    }

    .email {
        color: $main;
    }
}