@import '../main.module.scss';

.wrapper {
    width: 343px;
	margin: 25px auto 0 auto;

	.title {
		@include font-style-24();
	}

    .desc {
        @include font-style-16-medium();
        margin-top: 8px;
    }

	.form {
		@include flexBox(getFlexValue(between));
		flex-direction: column;
		width: 343px;
		margin-top: 20px;

		.form-input-div {
			position: relative;
			width: 343px;
			height: 50px;
			margin-bottom: 16px;

			.form-input {
				@include font-style-16-medium();
				@include inputBox();
			}

			.form-eye {
				position: relative;
				left: 294px;
				bottom: 47px;
			}
		}
	}

	.loginBtn {
		margin-top: 16px;
		span {
			text-decoration: underline;
		}
	}

    .photo-div {
        width: 343px;
        height: 80px;
        position: relative;
    }
    
    .profile {
        margin: 0 132px 0 131px;
    }
    
    .open {
        position: relative;
        bottom: 38px;
        left: 172px;
    }

    .email {
        color: $main;
    }
}