@import "../main.module.scss";

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
    overflow: auto;
    overflow-x: hidden;

    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 0px;
    }

    &.search {
        overflow: hidden !important;
    }
    
    .no-result {
		@include font-style-18();
		text-align: center;
	}
}