@import "../main.module.scss";

.list {
    display: flex;
    flex-direction: column;
    align-items: center;

    .toiletInfoList {
        height: 565px;
    
        overflow-x: hidden;
        overflow-y: auto;
    
        &::-webkit-scrollbar {
            width: 0px;
        }
    }
}

.onList {
    margin-bottom: 8px;
}