@import '../main.module.scss';

.loginSection {
	width: 343px;
	height: 61px;
	margin: 29px auto 0 auto;

	.mainText {
		@include font-style-24();
	}

	.form {
		@include flexBox(getFlexValue(between));
		flex-direction: column;
		width: 343px;
		height: 248px;
		margin-top: 20px;

		.form-input-div {
			position: relative;
			width: 343px;
			height: 50px;
			margin-bottom: 16px;

			.form-input {
				@include font-style-16-medium();
				@include inputBox();
			}

			.form-eye {
				position: relative;
				left: 294px;
				bottom: 47px;
			}
		}
	}

	.loginBtn {
		margin-top: 16px;
		span {
			text-decoration: underline;
		}
	}
}
