@import '../main.module.scss';

.logo {
	width: 343px;
	height: 280px;
	margin-top: 104px;
	margin-bottom: 148px;
	background: $sub;
}

.loginSection {
	@include flexBox(center, center);
	flex-direction: column;

	.loginBtn {
		margin-top: 16px;
		span {
			text-decoration: underline;
		}
		cursor: pointer;
	}
}
