@import '../main.module.scss';

@include keyframe (fadeIn) {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.map {
	display: flex;
	justify-content: space-around;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: auto;

	.research {
		@include font-style-14();
		background-color: $snow;
		border: none;
		border-radius: 8px;
		box-shadow: 0px 3px 6px $shadow;

		position: absolute;
		top: 120px;
		z-index: 99;

		&:hover {
			cursor: pointer;
		}
	}

	.warning {
		@include font-style-14();
		color: white !important;
		text-align: center;
		background-color: $sub;
		padding: 2px 8px;
		border-radius: 8px;

		position: absolute;
		top: 120px;
		z-index: 99;
	}
}