@import '../main.module.scss';

@include keyframe (fadeIn) {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.map {
	display: flex;
	justify-content: space-around;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: auto;

	.research {
		@include font-style-14();
		background-color: $snow;
		border: none;
		border-radius: 8px;
		box-shadow: 0px 3px 6px $shadow;

		position: absolute;
		top: 120px;
		z-index: 99;

		&:hover {
			cursor: pointer;
		}
	}

	.warning {
		@include font-style-14();
		color: white !important;
		text-align: center;
		background-color: $sub;
		padding: 2px 8px;
		border-radius: 8px;

		position: absolute;
		top: 120px;
		z-index: 99;
	}
}

.dropdown {
	@include animation (fadeIn, 0.5s);

	z-index: 99;
	position: absolute;
	top: 110px;
	left: 16px;

	width: 343px;
	height: 600px;

	background-color: $white;
	border-radius: 8px;
	padding: 8px;

	overflow: auto;

	.no-result {
		@include font-style-18();
		text-align: center;
	}

	.candidates {
		padding: 0 8px;

		.place {
			@include font-style-18();
		}

		.address {
			@include font-style-14();
		}

		&:hover {
			cursor: pointer;
			text-decoration: underline;
		}
	}

	.pages {
		display: flex;
		justify-content: center;

		a {
			@include font-style-16-medium();
			&.on {
				color: red !important;
			}

			&:hover {
				color: $main;
			}

			margin: 0 4px;

		}
	}
}