@import "../main.module.scss";

.my-review {
    height: 100%;
    
    .wrapper {
        background-color: #fafafa;
        padding: 6px 0;
    
        height: 722px;
        overflow-x: hidden;
        overflow-y: auto;
    
        &::-webkit-scrollbar {
            width: 0px;
        }
    }
}
