@use '../mixin.module';
@use '../text-style.module';
@import '../main.module.scss';

* {
    box-sizing: border-box;
}

.wrapper {
    width: 375px;
    height: 768px;
    display: relative;
}

.header {
    @include flexBox(space-between);
    height: 44px;
}

.header-back {
    margin-right: 115px;
}

.header-title {
    @include font-style-16-bold();
}

.content {
    @include mixin.flexBox(getFlexValue(between));
    flex-direction: column;
    width: 343px;
    height: 61px;
    margin: 29px auto 0 auto;
}

.guide-main {
    @include font-style-24();
    margin-bottom: 3px;
}

.guide-sub {
    @include font-style-16-medium();
    margin-top: 3px;
}

.form {
    @include flexBox(getFlexValue(between));
    flex-direction: column;
    width: 343px;
    height: 248px;
    margin-top: 20px;
}

.form-input-div {
    display: relative;
    width: 343px;
    height: 50px;
    margin-bottom: 16px;
}

.form-input {
    @include font-style-16-medium();
    width: 100%;
    height: 100%;
    padding: 15px 0px 14px 16px;
    background-color: #F3F3F3;
    border: none;
    border-radius: 8px;
}

.form-eye {
    position: relative;
    left: 294px;
    bottom: 47px;
}

.form-button {
    @include font-style-16-medium();
    color: white !important;
    width: 343px;
    height: 50px;
    background-color: $main;
    box-shadow: 0px 3px 6px 0 $dim-black-20;
    border: none;
    border-radius: 8px;
}