@use "../text-style.module";
@import "../main.module.scss";

.wrapper {
    width: 343px;
    height: 109px;
    margin: auto;
}

.title {
    @include font-style-24();
    margin: 23px 0 8px 0;
}

.desc {
    @include font-style-16-medium();
}

.email {
    color: $main;
}