$flex-map: (
	start: flex-start,
	end: flex-end,
	between: space-between,
	around: space-around,
	even: space-evenly,
	center: center,
);

@function getFlexValue($key) {
	@return map-get($flex-map, $key);
}

@mixin flexBox($jc: center, $ai: center) {
	display: flex;
	align-items: getFlexValue($ai);
	justify-content: getFlexValue($jc);
}

@mixin ellipsis($width: 100%) {
	max-width: $width;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	vertical-align: middle;
}

@mixin inputBox(
	$margin-top: 0,
	$margin-right: 0,
	$margin-bottom: 0,
	$margin-left: 0
) {
	width: 343px;
	height: 50px;
	box-sizing: border-box;
	padding: 15px 0 14px 16px;
	@include inputShadow();
	border: none;
	border-radius: 8px;
	margin: $margin-top $margin-right $margin-bottom $margin-left;
}

@mixin inputShadow {
	box-shadow: 0px 3px 6px #00000029;
}

@mixin animation ($name, $duration) {
	animation-name: $name;
	animation-duration: $duration;
}

@mixin keyframe ($animation_name) {
	@keyframes #{$animation_name} {
		@content;
	}
}