@mixin font-style-12() {
    font-family: 'min sans';
    font-weight: $font-weight-medium;
    font-size: $font-size-12;
    line-height: $line-height-16;
    letter-spacing: $letter-spacing-001;
    color: $dim-black-60;
}

@mixin font-style-16-medium() {
    font-family: 'min sans';
    font-weight: $font-weight-medium;
    font-size: $font-size-16;
    line-height: $line-height-24;
    letter-spacing: $letter-spacing-001;
    color: $gray-scale-black;
}

@mixin font-style-16-bold() {
    font-family: 'min sans';
    font-weight: $font-weight-bold;
    font-size: $font-size-16;
    line-height: $line-height-21;
    letter-spacing: $letter-spacing-002;
    color: $gray-scale-black;
}

@mixin font-style-24() {
    font-family: 'min sans';
    font-weight: $font-weight-bold;
    font-size: $font-size-24;
    line-height: $line-height-32;
    letter-spacing: $letter-spacing-001;
    color: $gray-scale-black;
}